################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC_Activity01/MVC_Activity01/bin
/MVC_Activity01/MVC_Activity01/obj